p .hidden{
	display: none;
}

p .visible{
	display: block;
}

body {
	background-color:#eceff1;
}

.bottom {
	position: fixed;
	bottom: 0;
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Lato", "Trebuchet MS", "Arial", sans-serif;
}

.header {
	background-color: black;
	padding:10px;
}

.header h1 a {
	text-decoration:none;
	color: white;rgb(75, 75, 255);
}

.nav {
	width:400px;
	max-width:100%;
	position: absolute;
	top:0;
	right:0;
	background-color: #111;
	height:100vh;
	padding-left:20px;
	padding-top: 70px;
	transition: 0.333s;
	right:-400px;
}

.nav a {
	display:block;
	color: rgb(75, 75, 255);
	text-decoration: none;
	font-size:1.2rem;
	padding: 10px;
	padding-left: 20px;
	cursor: pointer;
}

.nav a:hover {
	text-decoration: underline;
}

.bars {
	position:absolute;
	top:15px;
	right:10px;
	color:#ccc;
	cursor: pointer;
	z-index: 100;
	transition: 0.333s;
}

.ex1 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pic1.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	min-height:100vh;
	width:100vw;
	position: absolute;
	top:0;
	left:0;
	z-index:-1;
	transition: 0.5s;
}

.text-container {
	color: white;
	text-align:center;
	width:60%;
	margin: 0 auto;
	top:30vh;
	position: relative;
}

.text-container h2 {
	font-size:3rem;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-bottom: 20px;
}